body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0;
  padding: 0; }

.logo img {
  width: 100%; }

.sf-menu {
  float: right;
  margin-top: 10px;
  margin-bottom: 0em; }

.sf-menu > li > a {
  color: #464646;
  padding: 20px 16px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase; }

.sf-menu > li {
  margin-top: 0;
  background: none; }

.sf-menu ul {
  border: 1px solid #fff;
  box-shadow: none; }

.sf-menu li li {
  min-width: 170px;
  height: auto;
  line-height: 30px;
  background: #4c4c4c;
  color: #fff;
  margin-right: 0;
  border-bottom: 1px solid #f2f3f3;
  -webkit-transition: height 200ms ease-in;
  -moz-transition: height 200ms ease-in;
  -o-transition: height 200ms ease-in;
  transition: height 200ms ease-in; }

.sf-menu li li a {
  font-weight: normal !important;
  font-size: 13px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 0;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #fff;
  border: 0; }

.sf-menu li li li {
  min-width: 170px;
  height: auto;
  line-height: 30px;
  background: #4c4c4c;
  color: #fff;
  margin-right: 0;
  border-bottom: 1px solid #f2f3f3;
  -webkit-transition: height 200ms ease-in;
  -moz-transition: height 200ms ease-in;
  -o-transition: height 200ms ease-in;
  transition: height 200ms ease-in; }

.sf-menu li li li:hover > a {
  color: #DA593F; }

.sf-menu li:hover li:hover {
  background: #4c4c4c;
  padding-left: 15px;
  transition: all .3s; }

.sf-menu li:hover {
  background: transparent; }

.sf-menu > li:hover > a {
  color: #DA593F; }

.slicknav_menu {
  display: none; }

.slicknav_menu .slicknav_menutxt {
  display: none; }

.slicknav_menu .slicknav_icon {
  margin: 0px; }

.slicknav_nav a i {
  display: none; }

.fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background: rgba(218, 89, 63, 0.43);
  transition: all 0.2s; }

#slide {
  overflow: hidden; }
  #slide .col {
    padding: 0;
    margin: 0; }
  #slide .slider {
    width: 100%;
    height: 270px;
    background-image: url(../images/slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: relative; }
    #slide .slider h1 {
      color: white;
      font-weight: 700;
      font-size: 25px;
      position: absolute;
      left: 50%;
      z-index: 1;
      padding-top: 7%; }
    #slide .slider .box {
      position: absolute;
      background: #464646;
      opacity: 0.6;
      top: 0;
      width: 200%;
      height: 300px;
      z-index: 0; }

h1 {
  color: white;
  font-weight: 700;
  font-size: 25px;
  z-index: 1; }

#information {
  padding: 33px 0px 40px 0px; }
  #information .row {
    margin-left: 2%;
    margin-right: 2%; }
  #information .info {
    text-align: center; }
    #information .info h1 {
      font-size: 20px;
      font-weight: 700;
      font-style: bold;
      padding-top: 40px; }
    #information .info p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 15px;
      margin-bottom: 40px; }
    #information .info .line {
      background: #DA593F;
      height: 4px;
      margin: 20px auto;
      position: relative;
      text-align: center;
      width: 115px; }
  #information .quality {
    background: #f2f3f3;
    text-align: center;
    padding-bottom: 15px; }
    #information .quality:hover i {
      background-color: #323f52;
      transition: 1s; }
    #information .quality i {
      border: 1px solid white;
      background: #DA593F;
      border-radius: 50px;
      padding: 18px;
      margin-top: 15px;
      font-size: 20px;
      color: white; }
    #information .quality h1 {
      font-size: 20px;
      padding-top: 20px; }
    #information .quality p {
      font-family: "Open Sans", sans-serif;
      padding: 17px;
      line-height: 25px;
      font-weight: 400; }

#contacts {
  background: #DA593F;
  padding: 3%;
  margin-top: 50px; }
  #contacts .contact p {
    padding: 20px 0px 0px 45px;
    font-size: 15px;
    line-height: 28px;
    float: left;
    color: #fff; }
  #contacts .contact a {
    border: 1px solid #fff;
    font-size: 15px;
    padding: 12px 30px;
    text-decoration: none;
    color: #fff;
    font-family: "Open Sans", serif;
    font-weight: 300;
    float: right; }
    #contacts .contact a:hover {
      background: #323f52;
      transition: 0.7s; }

#links {
  background: #222;
  padding: 50px 0px 35px 0px; }
  #links h1 {
    font-size: 18px;
    color: white;
    text-align: center; }
  #links .link {
    list-style-type: disc;
    display: block;
    margin: 0;
    padding: 0; }
    #links .link li {
      list-style-type: none;
      display: list-item;
      text-align: left;
      font-size: 15px;
      margin-left: 35%;
      line-height: 2; }
      #links .link li a {
        color: #a3a3a3;
        text-decoration: none; }
        #links .link li a:hover {
          color: white;
          transition: 0.4s; }
    #links .link li:before {
      color: #a3a3a3;
      content: "\f0a4";
      font-family: "FontAwesome";
      margin-right: 15px; }
  #links .line {
    background: #DA593F;
    height: 4px;
    margin: 20px auto;
    position: relative;
    text-align: center;
    width: 100px; }
  #links ul {
    list-style-type: disc;
    display: block;
    margin: 0;
    padding: 0; }
    #links ul li {
      list-style-type: none;
      display: list-item;
      text-align: left;
      font-size: 15px;
      margin-left: 35%;
      line-height: 2.5; }
      #links ul li a {
        color: #a3a3a3;
        text-decoration: none; }
        #links ul li a:hover {
          color: white;
          transition: 0.4s; }
      #links ul li i {
        color: #323f52;
        text-align: center;
        background: #dedede;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 15px;
        line-height: 24px; }

.footer {
  background: black;
  padding: 25px;
  text-align: center; }
  .footer .end p {
    color: #a3a3a3;
    font-size: 20px; }

#search {
  padding-top: 50px; }
  #search .first img {
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 80px; }
  #search .first h2 {
    position: absolute;
    bottom: 25%;
    right: 30px;
    font-size: 17px;
    background: #DA593F;
    color: white;
    padding: 8px 16px 8px 20px; }
  #search .first h2:before {
    position: absolute;
    top: 20px;
    left: 19px;
    color: #DA593F;
    font-family: 'FontAwesome';
    content: '\f0d7';
    font-size: 28px;
    z-index: 1; }
  #search .first h3 {
    position: absolute;
    bottom: 18%;
    right: 30px;
    font-size: 20px;
    background: #323f52;
    color: white;
    padding: 8px; }
  #search .first h1 {
    font-size: 17px;
    color: #DA593F;
    padding: 20px 0px 10px 88px;
    font-weight: 600;
    cursor: pointer; }
    #search .first h1:hover {
      color: #323f52;
      transition: 0.4s; }
  #search .first .links {
    padding-left: 75px;
    margin: 0; }
    #search .first .links li {
      display: inline;
      list-style-type: none;
      line-height: 2px;
      color: #DA593F;
      padding-left: 10px; }
      #search .first .links li a {
        text-decoration: none;
        color: #DA593F; }
  #search .second h3 {
    font-size: 18px;
    color: #DA593F;
    font-weight: 600;
    padding-bottom: 10px; }
  #search .second input {
    border: 2px solid #DA593F;
    padding: 5px 0px 5px 2px; }
  #search .second i {
    border: 1px solid #DA593F;
    padding: 9px 9px;
    background: #DA593F;
    color: white; }
  #search .second h2 {
    color: #DA593F;
    font-size: 18px;
    padding: 40px 0px 10px 0px;
    font-weight: 600; }
  #search .second .advers {
    margin: 0;
    padding: 0; }
    #search .second .advers li {
      list-style-type: none;
      display: block;
      line-height: 2; }
      #search .second .advers li a {
        text-decoration: none;
        color: #323f52; }
        #search .second .advers li a:hover {
          color: #DA593F; }
    #search .second .advers li:before {
      content: '\f105';
      font-family: 'FontAwesome';
      color: #323f52;
      top: 1px;
      left: 3px;
      font-weight: 600;
      padding: 0px 10px 0px 10px; }
  #search .down {
    padding-bottom: 20px; }
    #search .down p {
      padding: 20px 0px 10px 85px; }
    #search .down .read {
      border: 2px solid;
      color: #DA593F;
      padding: 10px 20px;
      margin-left: 85px;
      text-decoration: none; }
      #search .down .read:hover {
        background: #323f52;
        color: white;
        transition: 0.4s; }
  #search .tags {
    margin: 0;
    padding: 0; }
    #search .tags .clinic {
      list-style-type: none;
      display: inline;
      padding-right: 8px; }
      #search .tags .clinic a {
        border: 1px solid #323f52;
        padding: 7px 10px;
        color: #323f52;
        text-decoration: none;
        text-decoration: none; }
        #search .tags .clinic a:hover {
          background: #DA593F;
          color: white;
          transition: 0.5s; }
  #search #main {
    padding-left: 85px; }
    #search #main .glyphicon-chevron-left {
      position: absolute;
      top: 10px;
      right: 50px;
      color: white;
      border: 1px solid #222;
      background: #222;
      padding: 8px 13px; }
    #search #main .glyphicon-chevron-right {
      position: absolute;
      top: 10px;
      right: 0;
      color: white;
      border: 1px solid #222;
      background: #222;
      padding: 8px 13px; }
    #search #main .carousel-inner img {
      position: relative;
      width: 100%;
      height: 100%; }
    #search #main .carousel-control {
      width: 0%; }
    #search #main h2 {
      position: absolute;
      bottom: 79%;
      right: -113px;
      font-size: 17px;
      background: #DA593F;
      color: white;
      padding: 8px 16px 8px 20px; }
    #search #main h2:before {
      position: absolute;
      top: 22px;
      left: 19px;
      color: #DA593F;
      font-family: 'FontAwesome';
      content: '\f0d7';
      font-size: 28px;
      z-index: 1; }
    #search #main h3 {
      position: absolute;
      bottom: 3%;
      right: -113px;
      font-size: 20px;
      background: #323f52;
      color: white;
      padding: 8px; }
  #search .latest {
    margin: 0;
    padding-top: 20px;
    padding-left: 0px; }
    #search .latest .choose {
      list-style-type: none;
      display: inline;
      padding-right: 10px; }
      #search .latest .choose a {
        border: 1px solid #323f52;
        padding: 7px 10px;
        color: #323f52;
        text-decoration: none; }
        #search .latest .choose a:hover {
          background: #DA593F;
          color: white;
          transition: 0.6s; }
  #search p {
    padding: 20px 0px 10px 85px; }
  #search .read {
    border: 2px solid #DA593F;
    color: #DA593F;
    padding: 10px 20px;
    margin-left: 85px; }
  #search .arrow {
    margin: 0;
    padding: 50px 0px 50px 85px; }
    #search .arrow li {
      list-style-type: none;
      display: inline;
      padding-right: 10px; }
      #search .arrow li a {
        color: white;
        line-height: 65px;
        background: #DA593F;
        text-decoration: none;
        padding: 10px 15px; }
        #search .arrow li a:hover {
          background: #323f52;
          transition: 0.4s; }
  #search .more {
    border: 2px solid;
    color: #DA593F;
    padding: 10px 20px;
    margin-left: 85px;
    text-decoration: none; }
    #search .more:hover {
      background: #323f52;
      color: white;
      transition: 0.4s; }

/*# sourceMappingURL=style.css.map */
